<div class="content-page">
    <div class="content">
        <div class="container">

            <div class="section-container">
                <h2> Event Details </h2>
                <hr>
                <event-details [formData]="formData"></event-details>
                
                <h2> Guest List </h2>
                <hr>
                <guest-list [formData]="formData"></guest-list>
                
                <h2> Event Location </h2>
                <hr>
                <event-location [formData]="formData"></event-location>
                
                <h2> Event Message </h2>
                <hr>
                <event-message [formData]="formData"></event-message>
            </div>

            <button  [disabled]="!formData.valid" class="btn btn-primary create-event-btn" (click)="postEvent()">Create the event!</button>
        </div>
    </div>
</div>