<div class="content-page">
    <div class="content">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="create-section" role="presentation"><a href='#'>Details</a></li>
                <li class="create-section" role="presentation"><a href='#'>Guests</a></li>
                <li class="create-section" role="presentation"><a href='#'>Location</a></li>
                <li class="create-section" role="presentation"><a href='#'>Message</a></li>
            </ul>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>