<div class="content-page">
    <div class="content">
        <div class="container">

            <div class="header">
                <h1>Log In</h1>
            </div>

            <form class="content-body">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" autocomplete="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                </div>

                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}">
                </div>

                <div class="form-group">
                    <button class="btn action-btn" (click)="login()">Log me in!</button>
                </div>
            </form>

            <div class="footer">
                New to MeetPlanner? <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
            </div>

        </div>
    </div>
</div>