@font-face {
  font-family: 'CHUNKFIVE';
  src: url('./assets/Chunkfive.otf'); /* IE9 Compat Modes */
  src: url('./assets/Chunkfive.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/Chunkfive.otf') format('otf'), /* Super Modern Browsers */
       url('./assets/Chunkfive.otf') format('otf'), /* Pretty Modern Browsers */
       url('./assets/Chunkfive.otf')  format('otf'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Metropolis';
  src: url('./assets/Metropolis-Regular.otf'); /* IE9 Compat Modes */
  src: url('./assets/Metropolis-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/Metropolis-Regular.otf') format('otf'), /* Super Modern Browsers */
       url('./assets/Metropolis-Regular.otf') format('otf'), /* Pretty Modern Browsers */
       url('./assets/Metropolis-Regular.otf')  format('otf'), /* Safari, Android, iOS */
}

body {
    font-family: 'Metropolis';
}

.bg-light-gray{
    background-color: #F7F5F2;
    min-height: 1200px;
}

.hero-title {
    font-family: 'CHUNKFIVE';
    position: absolute;
    margin:0 auto;
    left: 0;
    
}

.meet {
    color: #005b96;
}

.planner {
    color: #fff;
    margin-left: -4px;
}

.main-nav {
    background-color: #b3cde0;
}

.content-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 24em;
}

.content {
    padding: .8em 1em 0;
    border-radius: 3px;
    
}

.content-body {
    padding: 7px;
}

.container {
  flex: 1;
  margin: auto;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 16px;
    border: 1px solid rgba(0,0,0,.12)!important;
    border-bottom: 1px solid rgba(0,0,0,.26)!important;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
}

.small {
    max-width: 400px;
}

.header {
  padding: 7px;
  background-color: #fff;
  border-bottom: 1px solid #669CC0;
}

.footer {
  padding: 7px;
  background-color: #fff;
  border-top: 1px solid #669CC0;
}

.action-btn {
  background-color: #005b96;
  color: #fff;
  padding: 7px;
  width: 100%;
}

@media (max-width: 480px) {
    .hero-title {
        width: auto;
        font-size: 36px;
    }
}

@media (min-width: 768px) {
        .hero-title {
            font-size: 45px;       
            width: 100%;
            text-align: center;
    }
}