<div class="signup-page">
  <div class="signup-container">

    <div class="signup-header">
      <h1>Sign Up</h1>
    </div>

    <div class="signup-body">
      <accordion [closeOthers]="false">
        <form [formGroup]="formData" (submit)="createAccount()">
          <accordion-group heading="The Important stuff" [isOpen]="true">

            <validated-input [control]="formData.controls['name']">
              <label for="name" class="control-label">Name</label>
              <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter name" autocomplete="given-name">
            </validated-input>


            <validated-input [control]="formData.controls['email']">
              <label for="email" class="control-label">Email</label>
              <input type="text" formControlName="email" class="form-control" id="email" placeholder="Enter email" autocomplete="email">
            </validated-input>

            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" formControlName="pass" class="form-control" id="pwd" placeholder="Enter password">
              <password-validator [hidden]="!showPassHelp" [control]="formData.controls['pass']"></password-validator>
            </div>
            
            <validated-input [control]="formData.controls['passConfirm']" [formGroup]="formData">
              <label for="re-pwd">Repeat Password</label>
              <input type="password" formControlName="passConfirm" class="form-control" id="re-pwd" placeholder="Enter password again">
            </validated-input>

          </accordion-group>

          <accordion-group heading="Extra Details (You can enter this in later)" [isOpen]="true">
            <div class="form-group">
              <label for="jobtitle">Job title:</label>
              <input type="jobtitle" formControlName="jobTitle" class="form-control" id="jobtitle" placeholder="Enter job title">
            </div>
            <div class="form-group">
              <label for="employer">Employer:</label>
              <input type="text" formControlName="employer" class="form-control" id="employer" placeholder="Enter employer">
            </div>
            <div class="form-group">
              <label for="dob">Date of Birth:</label>
              <input type="date" formControlName="dob" class="form-control" id="dob" placeholder="Enter date of birth">
            </div>
          </accordion-group>


          <div class="form-group">
            <button class="btn signup-btn">Sign me up!</button>
          </div>
        </form>
      </accordion>
    </div>

    <div class="signup-footer">
      Have an account? <a routerLink="/login" routerLinkActive="active">Log in</a>
    </div>
  </div>
</div>